/*For grouped images inside of a container displayed as a grid*/
.imagecontainer{
  width: 1350px;
  height: auto;
  gap: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-self: center;
  text-align: center;
}

.imagecontainer > img{
  width: 100%;
  height: auto;
}

/*Different alignments for images.*/
.img-left{
  float: left;
  padding: 20px;
  margin-right: 0;
  width: 220px;
  height: auto;
}

.img-right{
  float: right;
  padding: 20px;
  margin-left: 0;
  width: 220px;
  height: auto;
}

.img-center{
  padding: 20px;
  margin-left: 0;
  width: 220px;
  height: auto;
  justify-self: center;
}

.img-grid{
  display: block;
  padding: 0;
  margin: 0;
}

.RML-Digital-Portfolio_logo_container{ 
  /*This mainly allows images to change on hover, but really it just makes another image appear on top*/
  position: relative;
  float: inline-start;
  margin-left: -50px;
  width: fit-content;
  height: fit-content;
  margin-right: 0.5rem;
}

.topimage{ 
  /*Expect this to be the resulting image on hover*/
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s;
  animation-fill-mode: forwards;
}

.topimage:hover{
  opacity: 1;
}

.givemore_logo{
  width: 350px;
  float: right;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.splide_arrow_container{ 
  /*This mainly allows images to change on hover, but really it just makes another image appear on top*/
  position: relative;
  width: fit-content;
  height: fit-content;
}

.splidearrow_topimage{ 
  /*Expect this to be the resulting image on hover*/
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  animation-fill-mode: forwards;
}

.splidearrow_topimage:hover{
  opacity: 1;
}


/* Prevents text from wrapping around image. 
Make sure to put it in a div that acts as the parent for the text you want to prevent wrapping around an image for. */
.text-wrapper{  
  overflow: hidden;
}