@import './base.css';
@import './homepage&maindesign.css';
@import './imageformat.css';
@import './mobileview.css';
@import './animations.css';


body{
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(174, 174, 174, 0.1), rgba(174, 174, 174, 0.1),
   rgb(124, 193, 101)), url("./images/KeyboardBackground.jpg");
  background-size: cover;
  background-attachment: fixed;
}

main{ 
  flex: 1;
}

/* For the navigation bar, and its individual items. */
nav{
  background-color: rgb(124, 193, 101);
  padding: 25px;
  width: 100%;
  display: inline-block;
  position: relative;
}

.nav-title{
  color: rgb(215, 21, 21);
  list-style-type: none;
  display: inline;
  margin: -0.5px;
  padding: 5px;
  font-size: 16px;
}


/* Mainly meant to keep the footer at the bottom of the page */
.footer-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  font-family: Smallest-Pixel 7;
  font-size: 20px;
  color: greenyellow;
  background-color: black;
  padding: 20px;
  width: 100%;
  content: "Hello";
  display: inline-block;
}

.footer-link-container{ /*For various icons with links like GitHub for example*/
  display: inline-block;
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-top: 0.5rem;
}

.footer-link_topimage{ 
  /*Expect this to be the resulting image on hover*/
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s;
  animation-fill-mode: forwards;
}

.footer-link_topimage:hover{
  opacity: 1;
}

/*.footer-link-GitHub{
  margin-top: 0.5rem;
  background-image: url("/src/assets/images/GitHub_logo.png");
  transition: background-image 0.5s;
  animation-fill-mode: forwards;
}

.footer-link-GitHub:hover{
  margin-top: 0.5rem;
  background-image: url("/src/assets/images/GitHub_logo_hover.png");
  cursor: pointer;
}*/


#app {
  margin: 0;
}