/* For mobile responsiveness */

@media (width <= 1000px) {
  .typewritter-effect{
    font-size: 20px;
    letter-spacing: 5px;
    border-right: 10px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
      typing 1.5s steps(27),
      cursor .4s step-end infinite alternate;
  }
  .grid-container{
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 10px;
    width: 100%;
    justify-self: center;
  }
  .home-text{
    opacity: 0;
    font-size: 12px;
    padding: 10px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    transition: background-color 0.5s, color 0.5s;
    animation:
      fade-in 1s, step-end infinite;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;
  }
  .extra-text{
    font-size: 16px;
    font-family: Smallest Pixel-7;
  }
  .home-container-description{
    opacity: 0;
    font-size: 20px; 
    gap: 20px;
    padding: 20px;
    display: flex;
    width: 100%;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.50);
    justify-self: center;
    justify-content: center;
    font-style: italic;
    animation:
      fade-in 1s, step-end infinite;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
  .nav-title{
    color: black;
    list-style-type: none;
    display: inline;
    margin-right: 0.3rem;
    padding: 5px;
    font-size: 12px;
  }
  li{
    color: black;
    list-style-type: none;
    display: inline;
    margin-right: 0.3rem;
    padding: 5px;
    font-size: 16px;
  }
  .nav-divider{
    font-size: 10px;
  }
  body{
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(174, 174, 174, 0.1), rgba(174, 174, 174, 0.1),
     rgb(124, 193, 101)), url("./images/KeyboardBackground.jpg");
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
  }
  body::before{
    padding-bottom: 100%;
  }
  .container-description{
    opacity: 0;
    gap: 20px;
    padding: 20px;
    display: block;
    max-width: 95%;
    height: 100%;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.50);
    justify-self: center;
    animation:
    fade-in 1s,
    move-up 1s ease-in;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }

  .container-description-header{
    font-family: Smallest Pixel-7;
    font-size: 22px;
    color: greenyellow;
  }
  .container-description-text{
    font-size: 12px;
    font-family: Eight Bit Dragon;
    color: white
  }
  .img-right{
    float: right;
    margin-left: 0;
    padding: 10px;
    width: 200px;
    height: auto;
  }

/*For grouped images inside of a container displayed as a grid*/
.imagecontainer{
  opacity: 0;
  width: 100%;
  height: auto;
  gap: 20px;
  padding: 5px;
  margin: 10px;
  display: grid;
  grid-template-columns: auto auto;
  justify-self: center;
  text-align: center;
  animation:
  fade-in 1s,
  move-up 1s ease-in;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.imagecontainer > img{
  width: 100%;
  height: auto;
}
.genericspaceshooterimages{
  display: grid;
  grid-template-rows: auto auto;  
  gap: 2em;
  justify-self: center;
}

.givemore_logo{
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  padding: 20px;
  width: 100%;
}

.itch_io_link{
  width: 600px;
  justify-self: center;
}

.footer-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  font-family: Smallest-Pixel 7;
  font-size: 20px;
  color: greenyellow;
  background-color: black;
  padding: 12px;
  width: 100%;
  display: inline-block;
}
}

@media (width <= 600px) {
  nav{
    background-color: rgb(124, 193, 101);
    width: 100%;
    display: inline-block;
  }

  .typewritter-effect{
    font-size: 16px;
    letter-spacing: 3px;
    border-right: 10px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
      typing 1.5s steps(27),
      cursor .4s step-end infinite alternate;
  }
  .grid-container{
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    padding: 10px;
    max-width: 500px;
    width: 100%;
    justify-self: center;
  }
  .home-text{
    opacity: 0;
    font-size: 10px;
    padding: 10px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    transition: background-color 0.5s, color 0.5s;
    animation:
      fade-in 1s, step-end infinite;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;
  }
  .extra-text{
    font-size: 16px;
    font-family: Smallest Pixel-7;
  }
  .home-container-description{
    opacity: 0;
    font-size: 18px; 
    gap: 20px;
    padding: 20px;
    display: flex;
    width: 100%;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.50);
    justify-self: center;
    justify-content: center;
    font-style: italic;
    animation:
      fade-in 1s, step-end infinite;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }

  /* Main body of text for each of the pages (Introduction, About, etc.) */
.container-description{
  opacity: 0;
  gap: 20px;
  padding: 20px;
  display: block;
  width: 95%;
  height: 100%;
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.50);
  justify-self: center;
  animation:
  fade-in 1s,
  move-up 1s ease-in;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

p.nav-title{
  color: black;
  list-style-type: none;
  display: inline;
  margin-right: 0.3rem;
  padding: 5px;
  font-size: 10px;
}
li{
  color: black;
  list-style-type: none;
  display: inline;
  margin-right: 0.3rem;
  padding: 5px;
  font-size: 14px;
}

.text-wrapper{  
  overflow: unset;
}
.img-left{
  float: left;
  padding: 10px;
  margin-right: 0;
  width: 30%;
  height: auto;
}

.img-right{
  float: right;
  margin-left: 0;
  padding: 10px;
  width: 30%;
  height: auto;
}

.img-center{
  padding: 10px;
  margin-left: 0;
  width: 30%;
  height: auto;
  justify-self: center;
}
.footer-container{
  display: flex;
  min-height: 100vh;
}

footer{
  font-family: Smallest-Pixel 7;
  font-size: 12px;
  color: greenyellow;
  background-color: black;
  padding: 200px;
  width: 100%;
  content: "Hello";
  display: inline-block;
  text-align: center;
}
.nav-divider{
  font-size: 8px;
}
body{
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(174, 174, 174, 0.1), rgba(174, 174, 174, 0.1),
   rgb(124, 193, 101)), url("./images/KeyboardBackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
body::before{
  padding-bottom: 100%;
}
.container-description-text{
  font-size: 12px;
  font-family: Eight Bit Dragon;
  color: white
}
.container-description-header{
  font-family: Smallest Pixel-7;
  font-size: 22px;
  color: greenyellow;
}
/*For grouped images inside of a container displayed as a grid*/

.imagecontainer{
  opacity: 0;
  width: 450px;
  height: auto;
  gap: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: auto;
  margin: 5x;
  justify-self: center;
  text-align: center;
  animation:
  fade-in 1s,
  move-up 1s ease-in;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.imagecontainer > img{
  width: 100%;
  height: auto;
}

.genericspaceshooterimages{
  display: grid;
  grid-template-rows: auto auto;  
  gap: 2em;
  justify-self: center;
}

.givemore_logo{
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  padding: 20px;
  width: 100%;
}

.itch_io_link{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
}

.footer-link-container{
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/*.footer-link-GitHub{
  text-align: center;
  background-image: url("/src/assets/images/GitHub_logo.png");
  margin-top: 0.5rem;
  transition: background-image 0.5s;
  animation-fill-mode: forwards;
}

.footer-link-GitHub:hover{
  text-align: center;
  background-image: url("/src/assets/images/GitHub_logo_hover.png");
  cursor: pointer;
}*/

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

}